@using ProjectManager.BLL.Entities
@using ProjectManager.COMMON.Repositories
@using ProjectManager.ASPMVC.Handlers

@inject IRepo_Employee<Employee> employeeService
@inject UserSessionManager userSession

@{
    Employee? connectedUser = null;

    if (userSession != null && userSession.EmployeeId.HasValue)
    {
        connectedUser = employeeService.Get(userSession.EmployeeId.Value);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectManager.ASPMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectManager.ASPMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <h2 class="mb-0">
                    Bienvenue
                    @if (connectedUser != null)
                    {
                        <span>@connectedUser.Firstname @connectedUser.Lastname</span>
                    }
                </h2>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-row align-items-center gap-2">
                        @if (connectedUser != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index">Projets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index">Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-danger" asp-area="" asp-controller="Auth" asp-action="Logout">Se déconnecter</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name = "_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - ProjectManager.ASPMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
